.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navItems{
    /* margin-right: 30px; */
}
.navcontainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
     font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    color: #003580;
}
.user {
    position: relative;
    display: flex;
    text-underline-offset: auto;
    text-transform: uppercase;
    margin-right: 40px;
  }

.logout{
    cursor: pointer;
    background-color: #0071c2;
    border: none;
    color: white;
    padding: 3px;
}
.india{
    width: 2%;
    height: 4%;
    border-radius: 50px;
    position: absolute;
    top: 15px;
    right: 300px;
}